$background-color: rgb(32 35 36);
$outline-color: rgb(78, 78, 78);

#dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  overflow: hidden;
}

#banner-container {
  display: flex;
  height: 10vh;
  width: auto;
  border: 1px solid $outline-color;
}

#dashboard-banner {
  display: flex;
  align-items: center;
  background-color: $background-color;
  height: 10vh;
  width: 100vw;
}

#dashboard-logo {
  color: aliceblue;
  font-size: 75px;
  margin-left: 10px;
  position: absolute;
}

#sign-out-container {
  border: 1px solid white;
  border-radius: 10px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
}

#sign-out-button {
  color: white;
  border: 2px solid $background-color;
  background-color: $background-color;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
}

#sign-out-button:hover {
  padding: 9px;
  border: 2px solid $outline-color;
  background-color: $outline-color;
  cursor: pointer;
}

#error-container {
  display: flex;
  border: 1px solid white;
  height: auto;
  width: auto;
}

#bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  height: 100vh;
  width: 100vw;
}

.input-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 600px;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 5px white;
  transform: translateY(-50%);
  transition: transform 2s ease;

  &.slide-left {
    transform: translateX(-60%) translateY(-50%);
  }
}

.table-container {
  position: relative;
  transform: translateY(8%) translateX(60%);
  max-height: 80vh;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 0 0 5px white;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  display: block;
  max-height: 100%;
  max-width: 600px;
  overflow-y: auto;
  animation: show 2s ease-in;
  table-layout: auto;
}

#dt-header {
  top: 0;
  color: white;
  z-index: 1;
  overflow-x: auto;
  max-width: 50px;
}

#header-cell,
#body-cell {
  padding: 8px;
  border: 1px solid #ccc;
  color: white;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table-body {
  display: block;
  height: 60vh;
  overflow-y: auto;
  width: 100%;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
