$si_blue: rgb(78, 177, 215);
$dsi_blue: rgb(38, 140, 180);
$gr_blue: rgb(27, 32, 86);
$dgr_blue: rgb(13, 9, 35);

* {
  margin: 0;
  padding: 0;
}

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  animation: gradient 10s infinite;
}

#error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5vh;

  &.error {
    border: 1px solid red;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}

#error-element {
  font-size: 15px;
  color: red;
}

#h1-sign-in {
  color: white;
  transform: translateY(20%);
}

#h1-ast {
  color: white;
  padding-bottom: 10px;
}

#username-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
  height: auto;
  width: 30vw;
  background-color: white;
}

#username-label,
#password-label {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}

#username-element,
#password-element {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  padding: 10px;
  width: calc(100% - 50px);
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 8px;
}

#submit-container {
  display: flex;
  justify-content: center;
}

#submit-element {
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  font-size: 15px;
  color: white;
  background-color: $dsi_blue;
  border: 3px solid $si_blue;
  border-radius: 15px;
}

#submit-element:hover {
  background-color: $si_blue;
  border: 3px solid $dsi_blue;
  cursor: pointer;
}

@keyframes gradient {
  0%,
  100% {
    background-color: $gr_blue;
  }
  50% {
    background-color: $dgr_blue;
  }
}
